<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
          
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!-- 自己加入參考，新增的DLL檔。-->
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <!-- ***** 自己添加的 ************************************************************** -->
    <authentication mode="Forms">
      <forms loginUrl="Default_01_Login.aspx" name="adAuthCookie" timeout="10" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <identity impersonate="true"/>

    <!-- 模擬經 IIS 驗證的帳戶或使用者
          如果要在 ASP.NET應用程式中的每個網頁，在每次收到要求時模擬 IIS進行驗證的「使用者」。

          此項目會使得 ASP.NET 模擬從 IIS設定為匿名帳戶的帳戶。由於此組態，所有對此應用程式發出的要求都會以已設定之帳戶的安全性內容執行。使用者必須提供認證以向 Active Directory網域服務驗證，但只有已設定的帳戶可存取 Active Directory網域服務。
          
          設定 IIS 以進行匿名驗證
          1. 在 [IIS 管理員] (位於 [系統管理工具]) 或 IIS 的 MMC 嵌入式管理單元中，以滑鼠右鍵按一下要設定驗證的網站，然後按一下 [內容]。
          2. 按一下 [目錄安全性]索引標籤，然後按一下 [驗證及存取控制]底下的 [編輯]。
          3. 選取 [匿名驗證]核取方塊 (在 Windows Server 2003中標示為 [啟用匿名存取])。
          4. 確定應用程式的匿名帳戶具有存取 Active Directory網域服務的權限。
          5. 清除 [允許 IIS控制密碼]核取方塊 (若該核取方塊已存在)。預設的 IUSR_<computername> 帳戶沒有存取 Active Directory網域服務的權限。
          -->
    <!-- ***************************************************************************** -->
  
  </system.web>
</configuration>